<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./styles/style_index.css">
</head>

<body>
    <!-- <div class="bg-image"></div> -->
    <div class="container">
        <div class="head">
            To-Do List Application
        </div>
        <div class="buttons">
            <form method="POST">
                <input type="submit" name="personal" value="Personal List" formaction="/personal">
                <input type="submit" name="work" value="Work List" formaction="/work">
            </form>
        </div>
    </div>

</body>
</html>