<%- include("top.ejs") %>
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style_personal.css">
    </head>

    <body>
        <div class="container">
            <div class="back">
                <a href="/"><img src="./images/back.png" alt="back"></a>
            </div>
            <div class="head">
                Personal List
            </div>

            <div class="addTask">
                <form action="/personal" method="POST">
                    <input type="text" name="task" placeholder="Add a new Task...">
                    <input type="submit" value="+" name="add">
                    <input type="submit" value="-" name="delete">
                </form>
            </div>
            <%- include("bottom.ejs") %>